{
    "DestinationName": "com.sap.edm.sampleservice.v2",
    "OfflineEnabled": true,
    "LanguageURLParam": "",
    "OnlineOptions": {},
    "OfflineOptions": {
	"StoreParameters": {}
},
    "PathSuffix": "",
    "SourceType": "Mobile",
    "ServiceUrl":""
}